<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr> 
  <tr>
    <th>follows</th>
    <th><!--user.idがshow画面、follow_idにuser.idが入るという事？なるほど分からん-->
      <%= link_to followings_user_relationship_path(user.id, user.id), remote: true do %>
        <%= user.followings.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_relationship_path(user.id, user.id), remote: true do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>
<div class="row">
  <% if user == current_user %>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <% else %>
  <%= link_to 'chatを始める', chat_path(user.id), class: "btn btn-warning text-light m-1"%>
    <% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', user_relationship_path(user.id, user.id), method: :delete, remote: true, class: "btn btn-info m-1" %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, remote: true, class: "btn btn-success m-1" %>
    <% end %>
  <% end %>
</div>