<%= render 'layouts/errors', obj: @chat %>
<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>
<div class="ChatRoomBox">
  <%= render 'chats/form', chat: @chat %>
  <%= render 'chats/index', chats: @chats %>
</div>